text {
    padding-top: 2rem; 
}

.search-bar {
    padding-left: 2rem;
}
/* 
h5 {
    padding-left: 2rem;
} */

.fa-search {
    ;
}

h2 {
    font-size: large;
}

.list-group {
    width: 25%;
}

#forecast-header {
    font-size: x-large;
    font-weight: 500;
}


body {
background-image: url(https://wallpaperaccess.com/full/433102.jpg);
background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;
}
