text {
    padding-top: 2rem; 
}

.search-bar {
    padding-left: 2rem;
}


h2 {
    font-size: large;
}

.list-group {
    width: 25%;
}

#forecast-header {
    font-size: x-large;
    font-weight: 500;
}


body {
background-image: url(https://wallpaperaccess.com/full/433102.jpg);
background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;
}

.card-body {
    font-weight: bold;
}

.rounded-corners {
    border-radius: 50px;
}