text {
    padding-top: 2rem; 
}

.search-bar {
    padding-left: 2rem;
}
/* 
h5 {
    padding-left: 2rem;
} */

.fa-search {
    ;
}

h2 {
    font-size: large;
}

.list-group {
    width: 25%;
}

#forecast-header {
    font-size: x-large;
    font-weight: 500;
}

